@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.container{
  width:100%;
  margin:0 auto;
  font-family: 'Roboto', sans-serif;
}

.imgRow{
  width:100%;
  text-align:left;
  border-bottom:1px solid black;
}

.imgRow img{
  width:20%;
  height:10%;
}

.row{
  width:100%;
  text-align:center;
}

.colLeft{
  height: 100vh;
  width:30%;
  float:left;
  border-right:1px solid black;
  padding-top: 5%;
}

.subnav{
  display:none;
}

.showFirst{
  display:block;
  border:1px solid black;
  font-size:20px;
  font-weight:400;
}

.showSecond{
  background-color:black;
  color:white;
}


#firstNav:hover{
  background-color:black;
  color:white;
  cursor: pointer;
}

.showFirst:hover{
  background-color:black;
  color:white;
  cursor: pointer;
}

.showSecond{
  display:block;
}

.showThird{
  display:block;
}

.nav{
  border-bottom:1px solid black;
  border-top:1px solid black;
  font-size:25px;
  font-weight:800;  
  text-align:left;
  padding-left:10%;
}

.contentMockup{
  padding-top:5%;
  font-size:30px;
  font-weight:900;
}


#secondNav{
  color:grey;
  cursor: not-allowed;
}

#thirdNav{
  color:grey;
  cursor: not-allowed;
}